.btn {
	display: block;
	margin: 0 auto;
	padding: 10px 20px;
	font-size: 20px;
	color: #fff;
	background-color: #0294d7;
	border: 1px solid #0294d7;
	border-radius: 5px;
	box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3);
	transition: all 0.2s;
}

.btn:active {
	box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.6);
	transform: translateY(0.1rem);
}
